/******************************************
 * homepage jumbotron
******************************************/
#jumbotron{
  background-repeat:no-repeat;
  background-size:cover;
  min-height:850px;
  text-align:center;
  
  @include media-breakpoint-up(sm){
    overflow:hidden;

    .jumbotron-caption{
      margin-right:-100%;
      animation:j-caption;
      animation-duration:.5s;
      animation-timing-function: ease-out;
      animation-delay: .5s;
      animation-fill-mode:forwards;
    }
  }
}
.jumbotron-caption{
  max-width:715px;

  @include media-breakpoint-up(md){
    margin-right:5%;
  }
}
.jumbotron-caption h1{
  font-family:$main-font;
  font-size:60px;
  font-weight:$bold;
  color:$olive;
  line-height:1.1em;
  margin-bottom:25px;

  @include media-breakpoint-down(xs){
    font-size:50px;
  }
}
.jumbotron-caption p{
  font-family:$serif;
  font-size:30px;
  line-height:1.1em;
  margin-bottom:40px;

  @include max-width-centered(590px);

  @include media-breakpoint-down(xs){
    font-size:26px;
  }
}
.jumbotron-caption p.bookings{
  font-family:$main-font;
  font-size:26px;
  font-weight:$semibold;
}

#hero{
  background-repeat:no-repeat;
  background-size:cover;
  min-height:600px;
  text-align:center;
  position:relative;
}
.hero-caption{
  position:relative;
  z-index:10;

  .section-name{
    font-size:46px;
    color:$olive;
    font-weight:$bold;
    margin-bottom:40px;

    .fa-circle{
      font-size:23px;
      vertical-align: middle;
      margin-right:15px;
    }

    @include media-breakpoint-only(xs){
      font-size:30px;
    }
  }

  h1{
    font-family:$serif;
    font-size:66px;

    @include media-breakpoint-only(xs){
      font-size:40px;
    }
  }

  hr{
    width:100%;
    @include max-width-centered(400px);
  }
}