/******************************************
 * features
******************************************/
#hp-intro{
  padding-top:60px;
  padding-bottom:60px;
  text-align:center;

  @include max-width-centered(720px);

  h2{
    font-family:"Maitree", serif;
    font-size:46px;
    color:$cyprus;

    @include media-breakpoint-down(xs){
      font-size:32px;
    }
  }
  p{
    font-size:26px;
    line-height:1.2em;

    @include media-breakpoint-down(xs){
      font-size:20px;
    }
  }
  hr{
    margin-top:40px;
  }
}
#features{
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  overflow:hidden;

  .narrow-container{
    @include max-width-centered(720px);
  }

  .features header{
    margin-bottom:60px;

    h2{
      font-family:"Maitree", serif;
      font-weight:700;
      font-size:100px;
      color:$citrus;

      @include media-breakpoint-down(xs){
        font-size:60px;
      }
    }
    h3{
      font-size:40px;
      color:$cyprus;

      @include media-breakpoint-down(xs){
        font-size:28px;
      }
    }
    .magnifying-glass{
      position:absolute;
      top:-25px;
      right:-110px;
    }
  }

  .features-list li{
    margin-top:20px;
    width:50%;
    padding-left:15px;
    padding-right:15px;

    @include media-breakpoint-down(sm){
      width:100%;
      padding-left:0;
      padding-right:0;
    }

    li>img{
      max-width:90px;

      @include media-breakpoint-down(md){
        max-width:35px;
      }
    }
    h4{
      font-size:30px;
      color:$olive;
      font-weight:600;
    }
  }
}

/******************************************
 * growth
******************************************/
#growth{
  background-color:$cyprus;
  color:#fff;
  text-align:center;
  overflow:hidden;

  article{
    padding-top:80px;
    padding-bottom:60px;
    position:relative;
    z-index:9;

    @include max-width-centered(640px);
  }
  h2{
    font-family:"Maitree", serif;
    font-size:40px;
  }
  p{
    font-size:20px;
  }
  .btn-main{
    margin-top:40px;
  }

  img{
    position:absolute;
    left:0;
    bottom:0;
  }
}

.plant{
  position:relative;

  .stem{
    position:absolute;
    width:1px;
    height:0px;
    bottom:0;
    left:50%;
    background-color:#75AA00;

    .leaf1{
      position:absolute;
      left:-169px;
      top:27px;
      opacity:0;
    }
    .leaf2{
      position:absolute;
      top:200px;
      right:1px;
      opacity:0;
    }
    .leaf3{
      position:absolute;
      top:300px;
      left:-181px;
      opacity:0;
    }
  }

  &.animation-go{
    .stem{
      animation:grow;
      animation-duration:1000ms;
      animation-timing-function:linear;
      animation-fill-mode:forwards;
    }

    .leaf1{
      animation:sprout;
      animation-duration:0ms;
      animation-delay:1100ms;
      animation-fill-mode:forwards;
    }
    .leaf2{
      animation:sprout;
      animation-duration:0ms;
      animation-delay:1300ms;
      animation-fill-mode:forwards;
    }
    .leaf3{
      animation:sprout;
      animation-duration:0ms;
      animation-delay:1700ms;
      animation-fill-mode:forwards;
    }
  }
}

#pricing-plans{
  padding-top:60px;
  padding-bottom:60px;

  .card{
    text-align:center;
    border-radius:0;

    &.card-small{
      margin-top:60px;
      margin-bottom:60px;
    }

    .card-header{
      background-color:#575757;
      color:#fff;
      border-radius:0;

      h2{
        font-size:36px;
        font-weight:$semibold;

        @include top-sprite(100px);

        &::before{
          top:0px;
        }

        &#entrepreneur::before{
          background-position:0 -630px;
          height:81px;
          width:62px;
        }
        &#business::before{
          background-position:-72px -630px;
          height:89px;
          width:55px;
        }
        &#corporate::before{
          background-position:0 -724px;
          height:77px;
          width:86px;
        }
      }
      h2>small{
        color:$citrus;
        font-size:26px;
        font-weight:$normal;
        display:block;
      }
    }

    .card-title{
      background-color:$olive;
      color:#fff;
      padding-top:25px;
      margin-bottom:0;

      h3{
        font-size:50px;
        font-weight:$bold;
        line-height:.7em;
      }
      h3>sup{
        font-size:30px;
      }
      h3>small{
        font-size:26px;
        font-weight:$normal;
        display:block;
      }
    }

    .card-body{
      background-color:#27282B;
      color:#fff;
      padding-top:30px;
      padding-bottom:30px;

      ul{
        list-style:none;
        padding-left:0;
      }

      li{
        padding-top:10px;
        padding-bottom:10px;

        &::before{
          content:"";
        }
      }

      .btn-main{
        margin-top:40px;
      }
    }

    &:not(.card-small) .card-body .btn-main{
      margin-top:100px;
    }

    @include media-breakpoint-down(sm){
      flex:1 0 auto;
    }

    .card-footer{
      background-color:#272828;
      padding-bottom:25px;
    }
  }
}
.pricing-plans{
  header{
    text-align:center;
  }
  h1{
    font-size:100px;
    color:$cyprus;

    @include media-breakpoint-only(xs){
      font-size:75px;
    }
  }
}

#business-boost{
  background-color:$cyprus;
  padding-top:60px;
  padding-bottom:60px;
  color:#fff;
  text-align:center;
  position:relative;

  h2{
    font-family:$serif;
    font-size:40px;

    @include max-width-centered(695px);
  }

  .card{
    background-color:transparent;
    border:none;
    margin-top:60px;
  }
  .card-header{
    border-bottom:3px dashed $citrus;
    h3{
      color:$citrus;
      font-size:32px;
      font-weight:$semibold;
    }
    p{
      font-size:24px;
    }
  }
  .card-body{
    h4{
      font-family:$serif;
      font-weight:$bold;
      font-size:18px;
    }

    ul{
      list-style:none;
      padding-left:0;
    }
    li{
      padding-top:10px;
      padding-bottom:10px;

      &::before{
        content:"";
      }
    }
  }

  #rocket{
    position:absolute;
    bottom:0px;
    left:50%;
    transform:translateX(-50%);
  }
  .flames{
    margin-top:-33px;
    margin-left:6px;
  }

  .animation-go{
    #rocket{
      animation:liftoff;
      animation-delay:2000ms;
      animation-duration:2000ms;
      animation-fill-mode:forwards;
      animation-timing-function: ease-in;
    }

    .flames{
      animation:flames;
      animation-duration:500ms;
      animation-timing-function: ease-in-out;
      animation-iteration-count:infinite;
    }
  }
}

#hp-testimonials{
  padding-top:100px;
  padding-bottom:60px;
  position:relative;
  text-align:center;

  header h2{
    font-family:$serif;
    font-size:46px;
    color:$cyprus;

    @include max-width-centered(490px);
  }

  .btn-p{
    font-family:$alt-font;
    font-size:24px;
    margin-top:40px;

    &>.btn-main{
      margin-top:5px;
    }
  }

  article{
    @include max-width-centered(720px);
  }

  hr{
    max-width:490px;
    margin-top:40px;
  }

  .cust-serv{
    margin-top:40px;

    @include max-width-centered(280px);

    p{
      font-size:16px;
    }
  }

  .cust-serv h3{
    color:$olive;
    font-size:30px;
    font-weight:$semibold;

    @include top-sprite(200px);

    &#north-american::before{
      background-position:0 -811px;
      height:172px;
      width:172px;
    }
    &#industry-experience::before{
      background-position:-136px -630px;
      height:165px;
      width:163px;
    }
    &#exceptional-support::before{
      background-position:-320px -630px;
      height:168px;
      width:193px;
    }
  }
}
.stars{
  text-align:center;

  .star{
    display:inline-block;
    height:45px;
    width:47px;
    background-image:url(images/sprites.png);
    background-repeat: no-repeat;
    background-position:-450px -462px;
  }
  .star + .star{
    margin-left:10px;
  }
}
#mouse{
  position:absolute;
  top:-6px;
  z-index:-1;
  right:15px;
  width:35%;
}

#how-it-works{
  background-color:$cyprus;
  padding-top:40px;
  padding-bottom:60px;
  color:#fff;
  text-align:center;

  article{
    @include max-width-centered(730px);

    &>p{
      font-size:20px;
      margin-bottom:25px;
    }

    .btn-main{
      margin-top:60px;
    }
  }

  header h2{
    font-size:100px;
    font-weight:normal;
    margin-bottom:0;
    line-height:1em;

    @include media-breakpoint-down(sm){
      font-size:64px;
    }
    @include media-breakpoint-down(xs){
      font-size:43px;
    }
  }
  header p{
    font-family:$serif;
    font-size:40px;
    margin-top:40px;
    margin-bottom:40px;

    @include media-breakpoint-only(xs){
      font-size:30px;
    }
  }
}

#mobile-app{
  padding-top:60px;
  padding-bottom:60px;

  article{
    header h2{
      text-align:center;
      font-size:40px;
      font-family:$serif;
      color:#575757;
      margin-bottom:25px;

      @include max-width-centered(520px);
    }

    p{
      @include max-width-centered(440px);
    }
  }

  .media{
    margin-top:25px;

    &>img{
      @include media-breakpoint-only(xs){
        width:75px;
      }
    }

    .media-body{
      margin-left:20px;

      li{
        font-family:$serif;
        font-size:20px;
        font-weight:$bold;
        padding-bottom:15px;
      }
    }
  }

  .app-links{
    margin-top:80px;
    text-align:center;

    a{
      display:block;
      text-decoration:none;
    }
    a + a{
      margin-top:15px;
    }
  }
}

#get-started{
  background-color:$cyprus;
  color:#fff;
  text-align:center;
  padding-top:80px;
  padding-bottom:60px;
  overflow:hidden;

  header h2{
    font-size:100px;
    position:relative;

    @include media-breakpoint-down(sm){
      font-size:60px;
      padding-top:150px;
    }

    &::after{
      content:"";
      position:absolute;
      background-image:url(images/sprites.png);
      background-repeat:no-repeat;
      height:147px;
      width:149px;
      background-position:0 -222px;
      top:-30px;
      right:-7%;

      @include media-breakpoint-only(xl){
        right:0;
      }
      @include media-breakpoint-down(sm){
        top:0;
        right:auto;
        left:50%;
        transform:translateX(-50%);
      }
    }
  }
  header p{
    font-family:$serif;
    font-size:40px;

    @include media-breakpoint-down(sm){
      font-size:30px;
    }
  }

  article>p{
    @include max-width-centered(730px);
  }
  article>.btn-main{
    margin-top:40px;
  }
}
