/***********************************
* styles for blog section
***********************************/

#cat-nav{
  @include max-width-centered(975px);

  .nav-link{
    text-align:left;
    text-decoration:none;
    font-size:24px;
    font-weight:$semibold;
    color:#000;
    max-width:180px;
    line-height:1.2em;
    border-bottom:1px solid #000;
    border-radius:0;
    padding:15px 100px 15px 0;

    &.active,
    &:hover,
    &:focus{
      background-color:transparent;
      color:$citrus;
    }
  }
}
.post-grid{
  .grid-item-content{
    display:block;
    padding:20px 32px;
    max-width:324px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    border-radius:6px;
    text-decoration:none;

    &:hover,
    &:focus{
      background-color:#EEEEEE;
    }

    .post-img{
      display:block;
      height:260px;
      width:260px;
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      border-radius:6px;
    }

    h3{
      font-size:26px;
      color:#000;
      margin-top:10px;
      margin-bottom:10px;
    }

    .post-date{
      font-size:20px;
      font-weight:$semibold;
      color:$olive;
    }
  }
}