
.btn-main{
  color:#fff;
  font-size:22px;
  display:inline-block;
  text-align:center;
  background-color:$citrus;
  padding:10px 35px;
  border-radius:6px;
  font-weight:$bold;
}
.btn-main:hover,
.btn-main:focus{
  background-color:$cyprus;
  color:#fff;
  text-decoration:none;
}
.btn-main.btn-rounded{
  border-radius:50px;
}
