/******************************************
 * footer
******************************************/

#footer-top{
  background-color:#EEEEEE;
  padding-top:40px;
  padding-bottom:40px;
}
#footer-top h5{
  font-size:20px;
  text-transform:uppercase;
  font-weight:600;
}
#footer-top ul{
  padding-left:0;
  margin-bottom:0;

  @include media-breakpoint-down(xs){
    padding-left:25px;
  }
}
#footer-top ul>li{
  padding-bottom:10px;
}
#footer-top ul>li>a{
  color:#000;
}
#footer-top ul>li>a:hover,
#footer-top ul>li>a:focus{
  color:#000;
}
#footer-top .footer-contact{
  @include media-breakpoint-down(xs){
    margin-top:60px;
  }
}
#footer-top .footer-contact h5,
#footer-top .footer-social h5{
  color:#87C400;
  font-weight:700;
}
#footer-top .footer-contact ul>li>a{
  color:#000;
  font-weight:600;
}
#footer-top .footer-contact ul>li>a:hover,
#footer-top .footer-contact ul>li>a:focus{
  color:#000;
}
#footer-top .footer-contact li::before{
  content:"";
  background-image:url(images/sprites.png);
  background-repeat:no-repeat;
  margin-right:10px;
  margin-left:-2em;
  vertical-align: middle;
}
#footer-top .footer-contact li.contact-phone::before{
  background-position:-193px -880px;
  height:25px;
  width:25px;
}
#footer-top .footer-contact li.contact-email::before{
  background-position:-225px -884px;
  height:17px;
  width:25px;
}
#footer-top .footer-social{
  margin-top:60px;

  @include media-breakpoint-down(xs){
    margin-top:25px;
  }
}
.social-icon-small{
  color:#06091C;
}
.social-icon-small + .social-icon-small{
  margin-left:10px;
}
.social-icon-small:hover,
.social-icon-small:focus{
  color:#75AA00
}

#footer-middle{
  background-color:#06091C;
  padding-top:40px;
  padding-bottom:40px;
  position:relative;
}
#footer-middle .container{
  max-width:675px;
}
#footer-nav .main-footer-nav>li>a{
  color:#fff;
  text-transform:uppercase;
  font-size:22px;
  font-weight: 700;
  padding-left:10px;
  padding-right:10px;
}
#footer-nav .sub-footer-nav{
  border-top:3px dashed #87C400;
  margin-top:15px;
}
#footer-nav .sub-footer-nav>li>a{
  font-size:16px;
  color:#fff;
  font-weight:600;
  text-align:center;
  display:block;
  width:160px;
  padding-left:10px;
  padding-right:10px;
  padding:10px 10px 0px;
}
#footer-nav ul>li>a:hover,
#footer-nav ul>li>a:focus{
  text-decoration:none;
  color:#75AA00;
}
#page-up{
  position:absolute;
  top:20px;
  right:15px;
  height:25px;
  width:40px;
  background-image:url(images/sprites.png);
  background-repeat: no-repeat;
  background-position: -256px -880px;
}

#copyright{
  background-color:#75AA00;
  text-align: center;
  color:#fff;
  padding-top:40px;
  padding-bottom:40px;
}
#copyright p{
  margin-bottom:0;
}
#copyright a{
  color:#fff;
}
